* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  border: 1px solid black;
  border-radius: 15%;
  background-color: #fff4c4;
}

input {
  margin: 10px;
  width: 150px;
  height: 30px;
  background-color: #fff9e4;
}

.timerField {
  width: 80%;
  height: 30px;
  border: 1px solid black;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e4;
  font-weight: bold;
  font-size: 1.5em;
}

button {
  width: 60px;
  height: 50px;
  margin-top: 15px;
  border: 0;
  border-radius: 50%;
  background-color: #fff9e4;
}

button:hover {
  transform: scale(1.3);
}

button:active {
  transform: scale(1);
}
